<!-- 
COMP229-017
File: header.ejs 
Student: Kam Yau Kong
Student ID: 301278310
Date: 23 Sep, 2023
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <title>Kam Yau Kong Portfolio</title>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/images/logo.png" id="logo">
            <h1>Personal Portfolio</h1>
            <nav class="header-nav">
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/projects">Projects</a>
                <a href="/services">Services</a>
                <a href="/contactme">Contact Me</a>
            </nav>
        </div>
    </header>