<%- include('partials/header.ejs')%>
<!-- 
COMP229-017
File: about.ejs 
Student: Kam Yau Kong
Student ID: 301278310
Date: 23 Sep, 2023
-->
<div class="content">
    <h2><%=title%></h2>
    <div class="container-aboutme">
        <div class="left-column">
            <p>Hello, my name is Kam Yau Kong, but you can call me Kam. 
                I originally hail from Hong Kong and am currently enrolled in the Software Engineering Technician program at Centennial College. 
                I find the academic experience exhilarating. 
                I've had the pleasure of meeting new friends in class and diving into subjects that are completely new to me.
            </p>
            <p><a href="Quincy Kong.pdf" target="_blank">My resume</a></p>
            <br>
            <h2>My Hobbies</h2>
            <ul>
                <li><strong>Watching Movies: </strong>Blockbusters, action films, and adventure movies are among my favorites.</li>
                <li><strong>Reading Books: </strong>Thanks to technology, I can enjoy books on electronic readers. The Amazon Kindle is one of my preferred e-readers.</li>
                <li><strong>Listening to Music: </strong> Bicycles: I own a foldable bike that may look small when packed up, but it gets me wherever I want to go.</li>
                <li><strong>Travel: </strong>I have had the opportunity to travel to numerous countries, including Beijing, Taiwan, Thailand, Singapore, Malaysia, London, France, Germany, Switzerland, and San Francisco.</li>
                <li><strong>Playing Board Games: </strong>I enjoy spending quality time playing Monopoly with my family.</li>
            </ul>
        </div>
        <div class="right-column">
            <img src="/images/quincy.jpg" id="myphoto">
        </div>
    </div>
</div>
<%- include('partials/footer.ejs')%>