<!-- 
COMP229-017
File: index.ejs 
Student: Kam Yau Kong
Student ID: 301278310
Date: 23 Sep, 2023
-->
<%- include('partials/header.ejs')%>
<div class="content">
    <h2><%=title%></h2>
    <h1>Welcome to Kam Yau Kong's Portfolio!</h1>
    <p>Hello and thank you for visiting my portfolio website! As a dedicated Software Engineering Technician student at Centennial College in Toronto, 
        I'm passionate about everything related to Information Technology. 
        Beyond academics and my part-time job in SAP Security, I'm making a conscientious effort to understand and embrace Canadian culture, 
        which I believe enriches both my personal and professional life.</p>
    <p>On this website, you'll find a range of projects that I've worked on, the services I can offer, and a bit more about <a href="/about">who I am</a>. 
        I'm also keenly focused on getting to know Canada better and I welcome any feedback you might have that can help me in this journey. 
        Don't hesitate to reach out through the <a href="/contactme">Contact Me page</a> if you have any questions or opportunities.</p>
    <p>Thanks for stopping by, and I look forward to connecting with you!</p>
    <h2>Mission Statement</h2>
    <p>As a committed Software Engineering Technician student at Centennial College, 
        my mission is to continually enhance my technical skills and knowledge in the rapidly evolving landscape of Information Technology. 
        Currently employed in the field of SAP Security, I am dedicated to applying practical solutions to complex challenges. 
        Alongside my academic and professional pursuits, 
        I'm committed to better serve in international settings.</p>
</div>
<%- include('partials/footer.ejs')%>
