<!-- 
COMP229-017
File: projects.ejs 
Student: Kam Yau Kong
Student ID: 301278310
Date: 23 Sep, 2023
-->
<%- include('partials/header.ejs')%>
    <div class="content">
        <div class="container-aboutme">
            <div class="left-column">
                <h2><%= title %></h2>
                <h3>SOD Cleanup for SAP Business One System</h3>
                <p> Engaged in an intricate SOD (Segregation of Duties) cleanup for a client using SAP Business One. 
                        The project focused on identifying, analyzing, and mitigating potential security risks related to role conflicts within the organization's ERP system.</p>
                <h4>My roles:</h4>
                <ul>
                    <li><strong>Analysis:</strong> Conducted an in-depth analysis of the SAP system to identify SOD conflicts and areas of risk.</li>
                    <li><strong>Recommendations:</strong> Provided actionable insights and steps for cleaning up SOD conflicts, including role reassignments and permission updates.</li>
                    <li><strong>Client Consultation:</strong> Engaged with the client to discuss findings and formulate a strategy for implementation.</li>
                    <li><strong>Milestone Tracking:</strong> Use specialized project management software to track project milestones and update stakeholders.</li>
                </ul>
                <h4><strong>Output:</strong></h4>
                <p>Successfully cleaned up SOD conflicts, leading to enhanced system security and organizational efficiency. 
                    The cleanup directly contributed to the client passing their IT audit with flying colors.</p>
            </div>
            <div class="right-column">
                <img src="/images/SOD.png" id="myphoto">
            </div>
        </div>
        <hr>
        <div class="container-aboutme">
            <div class="left-column">

                <h3>System Integration of EDI/API with Major IT Vendors</h3>
                <p>Oversaw and implemented 17 EDI/API integrations with external partners, including industry giants such as IBM, HP, Cisco, and RedHat. 
                    The project was geared towards streamlining business processes through robust system integrations.</p>
                <ul>
                    <li><strong>Business Process Mapping: </strong>Led the mapping of business processes to understand integration touchpoints and data flow.</li>
                    <li><strong>Partner Liaison:</strong> Acted as the primary contact between the organization and external partners, ensuring clear and consistent communication throughout the project.</li>
                    <li><strong>Technical Team Lead:</strong> Directed a small team of technical experts to deliver various components of the integration, from development to deployment.</li>
                </ul>
                <h4>Output:</h4>
                <p>Successfully completed all 17 integrations, 
                    significantly boosting operational efficiency and enabling smoother partnerships with major IT vendors.</p>
            </div>
            <div class="right-column">
                <img src="/images/system-integration.png" id="myphoto">
            </div>
        </div>
<%- include('partials/footer.ejs')%>