<!-- 
COMP229-017
File: thankyou.ejs 
Student: Kam Yau Kong
Student ID: 301278310
Date: 23 Sep, 2023
-->
<%- include('partials/header.ejs')%>
<div class="content">
  <h1>Thank you for contacting me.</h1>
  <h2>I'll reply to you as soon as I can.
  <br><br>
  <a href="/">Return to Home Page</a></h2>
</div>
<%- include('partials/footer.ejs')%>
